footer {
  background: white;
  /* border-top: 1px solid #e6eaf2; */
  padding: 48px 60px;
}

footer > div {
  max-width: 1440px;
  margin: 0 auto;
}

.footer-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 64px;
  margin-bottom: 48px;
}

/* Left Section */
.footer-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-shrink: 0;
}

.footer-logo-box {
  width: 92px;
  height: 99px;
  background-color: #f1f5f9;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.footer-logo-box img {
  width: 92px;
  height: 99px;
  object-fit: contain;
}

.footer-text {
  font-family: Manrope, sans-serif;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #0f172a;
}

.footer-text.secondary {
  color: #64748b;
  font-weight: 400;
}

.footer-text.primary {
  font-weight: 500;
  margin-bottom: 8px;
}

.footer-privacy {
  font-family: Manrope, sans-serif;
  font-size: 14px;
  margin-left: -94px;
  color: #94a3b8;
  background: none;
  border: none;
  padding: 5px 6px;
  /* border-radius: 4px; */
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-privacy:hover {
  color: #64748b;
  border-color: #64748b;
}

/* Center Section */
.footer-middle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  flex: 1;
  justify-self: center;
  margin: 0 auto;
  max-width: fit-content;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-col-title {
  font-family: Manrope;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #0f172a;
  margin: 0;
}

.footer-col-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-col-links a {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #94a3b8;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-col-links a:hover {
  color: #64748b;
}

/* Right Section */
.footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 50px;
}

/* Bottom */
.footer-bottom {
  padding-top: 32px;
  border-top: 1px solid #e6eaf2;
  text-align: center;
  font-family: Manrope, sans-serif;
  font-size: 14px;
  color: #cbd5e1;
}

@media (max-width: 768px) {
  footer {
    padding: 32px 20px;
  }

  .footer-main {
    flex-direction: column;
    gap: 32px;
  }

  .footer-middle {
    gap: 40px;
  }
}
